:root {
    --account-color: #fff;
}
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 16;
    display: flex;
    justify-content: space-between;
}

#nav {
    display: inline-block;
    padding-left: auto;
    margin-left: 7%;
}

.nav-right div {
    display: inline-block;
    width: 60px;
}
.nav-right a:hover {
    text-decoration: none;
}

#header .nav-logo img {
    position: absolute;
    width: 50px;
    margin-top: 6px;
    margin-left: 6px;
    display: flex;
    justify-content: flex-start;
}

#nav li {
    display: inline-block;
    position: relative;
    /* margin: 0px auto 0px; */
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 12px;
    display: inline-block;
    min-width: 160px;
    /* text-align: center; */
}

.set-minwidth {
    min-width: 110px !important;
}

#nav .subnav-product li a,
#nav .subnav-premium li a {
    padding: 0 10px 0 12px;
}

#nav .nav-arrow-down {
    font-size: 10px;
}

#nav .nav-arrow-right {
    font-size: 10px;
    float: right;
    line-height: 46px;
}

/* Create border menu lv1 lv2 */
#nav .subnav-product li > a,
#nav .subnav-premium li > a {
    border-bottom: 1px solid rgb(120, 120, 120);
    background-color: #000;
}

/* Uppercase menu lv0 */
#nav > li > a {
    text-transform: uppercase;
}

/* Create hover effect */
#nav > li:hover > a,
#nav .subnav-product li:hover > a,
#nav .subnav-premium li:hover > a {
    color: rgb(214, 14, 14);
}

/* Menu lv1 */
#nav .subnav-product,
.subnav-premium {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Show hover effect menu lv1 */
#nav li:hover .subnav-product,
#nav li:hover .subnav-premium {
    display: block;
}

/* Menu lv2 */
#nav .subnav-product .subnav-product-top,
#nav .subnav-product .subnav-product-bottom {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 110px;
}
#nav .subnav-premium .subnav-premium-top,
#nav .subnav-premium .subnav-premium-bottom {
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 160px;
}

/* Show hover effect menu lv2 */
#nav .subnav-product li:hover .subnav-product-top,
#nav .subnav-product li:hover .subnav-product-bottom,
#nav .subnav-premium li:hover .subnav-premium-top,
#nav .subnav-premium li:hover .subnav-premium-bottom {
    display: block;
}

#content .search-icon {
    color: #000;
    padding: 0 20px;
    /* float: right; */
    padding-left: 0;
}

#content .filter-input {
    margin-left: 10px;
}

#header .icon-account,
#header .icon-cart {
    color: var(--account-color);
    font-size: 20px;
    line-height: 46px;
    padding: 0 20px;
}

#header .nav-right {
    display: flex;
    justify-content: flex-end;
}

/* #header .filter-input {
    line-height: 15px;
    padding-top: 2px;
    font-size: 15px;
} */

#content .search-icon:hover,
#header .icon-account:hover,
#header .icon-cart:hover {
    color: rgb(214, 14, 14);
    cursor: pointer;
}

#slide {
    position: relative;
    margin-top: 46px;
    /* padding-top: 50%; */
    /* background: url(/assets/slider/slider_1.webp) top center / cover no-repeat; */
}

/* #slide .text-content {
    position: absolute;
    color: #fff;
    bottom: 40px; */
/* left: 50%;
    transform: translateX(-50%); */
/* width: 100%;
    text-align: center;
} */

/* #content {
    height: 2000px;
    background-color: #333;
} */

/* #content {
} */

#content .content-section {
    width: 1200px;
    max-width: 100%;
    padding: 60px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

#content .product-list-new,
#content .product-list-main {
    overflow: hidden;
}

#content .product-item {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'SVN-Gotham';
    line-height: 24px;
    padding: 0 10px;
    margin-bottom: 50px;
}

#content .product-img {
    width: 250px;
    height: 350px;
}

#content .product-img:hover {
    opacity: 0.6;
}

#content .product-type {
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0.6;
}

#content .product-name {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: auto; */
}

#content .btn-buynow,
#content .btn-detail,
#content .btn-add-to-cart,
#content .btn-global {
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    padding: 2px 10px;
    border: none;
}

#content .btn-buynow:hover,
#content .btn-detail:hover,
#content .btn-add-to-cart:hover,
#content .btn-global:hover {
    background-color: rgb(225, 225, 225);
    color: #000;
    cursor: pointer;
}

#content .product-price {
    font-size: 20px;
}

#content .contact-list {
    margin-top: 40px;
}

#content .contact-list .contact-item {
    float: left;
}

#content .contact-item {
    width: 55%;
    line-height: 1.6;
}

#content .contact-item p {
    font-size: 14px;
    font-weight: 600;
}

#content i[class*='ti-'] {
    width: 30px;
    display: inline-block;
}

#content .receive-noti-list p {
    font-size: 14px;
    opacity: 0.7;
    line-height: 2.5;
}

#content .receive-noti-input {
    padding: 5px;
    background-color: rgb(217, 212, 212);
}

#content .btn-receive-noti {
    /* display: inline-block; */
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 4px 10px;
    border: none;
}

#content .btn-receive-noti:hover {
    background-color: rgb(225, 225, 225);
    color: #000;
    cursor: pointer;
}

#content .break-page {
    display: flex;

    justify-content: center;
}

#footed {
    padding: 30px 16px;
    text-align: center;
    /* align-items: center; */
}

#footed .social-list {
    font-size: 24px;
}

#footed .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footed .social-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footed .copyright {
    margin-top: 15px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    position: relative;
    background-color: #fff;
    width: 800px;
    min-height: 250px;
    max-width: calc(100% - 32px);
    animation: modalShow ease 0.5s;
}

.modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px 10px;
    opacity: 0.7;
}

.modal .modal-close:hover {
    opacity: 1;
}

.modal .modal-header {
    width: 100%;
    color: #fff;
    background-color: #000;
    font-size: 25px;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
}

.modal .table-buynow {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.modal .table-buynow .table-buynow-header {
    border: 1px #000;
    background-color: rgb(225, 225, 225);
}

.modal .btn-payment {
    width: 50%;
    background-color: #000;
    text-align: center;
    padding: 10px 20px;
    margin: 100px auto 0 auto;
}

.modal .btn-payment-orders {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.modal .btn-payment:hover {
    background-color: #ff5000;
    cursor: pointer;
}

#content .filter {
    text-align: center;
    margin: 15px 20px;
}

/* Cart */
#cart-container {
    overflow-x: auto;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 0;
    text-align: center;
}

#cart-container table td {
    border: 1px solid #000;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#cart-container table h5 {
    font-size: 15px;
}

#cart-container table td:nth-child(1) {
    width: 50px;
}

#cart-container table td:nth-child(2) {
    width: 100px;
}

#cart-container table td:nth-child(3) {
    width: 400px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}

#cart-container table i {
    color: #000;
}

#cart-container table i:hover {
    color: rgb(237, 12, 12);
}

#cart-container table tbody img {
    width: 100px;
    height: 130px;
    object-fit: cover;
}

#cart-container h3 {
    text-align: center;
}

#cart-bottom .coupon > div,
#cart-bottom .total > div {
    border: 1px solid #000;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5 {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 6px 12px;
    text-align: center;
    font-weight: 700;
}

#cart-bottom .coupon input {
    padding: 0 12px;
    height: 44px;
    margin: 0 0 20px 12px;
}

#cart-bottom .coupon input {
    padding: 0 12px;
    height: 44px;
    margin: 0 0 20px 12px;
}

#cart-bottom .total div > div {
    padding: 0 12px;
}

#cart-bottom .total div > button {
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}

@keyframes modalShow {
    from {
        opacity: 0.5;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
